html {
    font-size: 20px;
    background-color: #111;
    font-family: sans-serif;
}

body {
    background-color: #333;
    color: whitesmoke;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

a,
a:visited {
    color: rgb(10, 240, 10);
    text-decoration: none;
}

a:hover,
a:active {
    color: yellow;
}

summary {
    cursor: pointer;
}

th,
td,
caption {
    border: 1px solid bisque;
    font-family: monospace;
    padding: .5rem;
}
